body {
    font-family: 'Bangers', cursive;
    background-image: url(https://i.pinimg.com/originals/67/3a/b1/673ab1ddbefd571453dd36f8fc8458ea.jpg);
}

.header {
    border: 10px dashed rgb(209, 188, 0);
    border-radius: 20px;
}

h1 {
    font-size: 110px;
    text-align: center;
    text-shadow: 7px 7px  black;
    
}

#mario_h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px
        
}

#pest_h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px
            
}

#control_h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px
                
}

#red {
    color: rgb(231, 13, 13);
    text-shadow: lightslategray;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#green {
    color: rgb(0, 167, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
#yellow {
    color: rgb(209, 188, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#blue {
    color: rgb(14, 125, 189);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#myForm {
    text-align: center;
}

h2 {
    font-size: 70px;
    color: rgb(231, 13, 13);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    border: 5px  rgb(0, 167, 0)
}

h3 {
    font-size: 40px;
    color: rgb(209, 188, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h4 {
    font-size: 30px;
    color: rgb(0, 167, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

img {
    text-align: center;
}

#goombaTotal {
    text-align: center;
}
#cheepTotal {
    text-align: center;
}
#bobTotal {
    text-align: center;
}

.total {
    font-size: 20px;
}

#goomba {
    margin: 20px;
    padding: 40px;
    border: 7px dashed rgb(0, 167, 0);
    border-radius: 10px;
}

#bob-omb {
    margin: 20px;
    padding: 40px;
    border: 7px dashed rgb(0, 167, 0);
    border-radius: 10px;
}

#cheep-cheep {
    align-content: center;
    text-align: center;
    align-items: center;
    margin: 20px;
    padding: 40px;
    border: 7px dashed rgb(0, 167, 0);
    border-radius: 10px;

}

#footer {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 7px dashed rgb(231, 13, 13);
    border-radius: 10px;

}

#contact {
    font-size: 60px;
    color: rgb(209, 188, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
#email {
    font-size: 25px;
    color: rgb(0, 167, 0);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}
#website {
    font-size: 25px;
    color: rgb(231, 13, 13);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}
a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(231, 13, 13);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

#address {
    font-size: 25px;
    color: rgb(14, 125, 189);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

.total {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(209, 188, 0);
    color: rgb(14, 125, 189);
    font-family: 'Bangers', cursive;
    font-size: 500px;
    width: 320px;
    height: 100px

}

#goombaTotal {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border: 5px solid rgb(184, 102, 9);
    border-radius: 20px;

}
#bobTotal {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border: 5px solid rgb(184, 102, 9);
    border-radius: 20px;
}
#cheepTotal {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    border: 5px solid rgb(184, 102, 9);
    border-radius: 20px;
}

::placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(14, 125, 189);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}
button {
    background-color: rgb(231, 13, 13);
    color: white;
    font-family: 'Bangers', cursive;
    font-size: 50px;
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    transition-duration: .5s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 167, 0);
    color: rgb(14, 125, 189);
}

#clearButton {
    background-color: rgb(0, 167, 0);
    color: white;
    font-family: 'Bangers', cursive;
    font-size: 50px;
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    transition-duration: .5s;
    cursor: pointer;
}

#clearButton:hover {
    background-color: rgb(209, 188, 0);
    color: rgb(231, 13, 13);
}

.buttons {
  text-align: center;
}

@media only screen and (min-width: 600px) {

    h1 {

        padding: 10px;
        font-size: 120px;
        
    }


    img {
        width: 300px;
        height: 300px;
    }
    #goombaHeader {
        margin: 5px;

    }
    #bobHeader {
        margin: 5px;
    }
    #cheepHeader {
        margin: 5px;
    }
    
    #goombaPrice {
        margin: 50px;
    }


    button {
        width: 120px;
        font-size:20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right:75px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;


    }

    #clearButton {
        width: 150px;
        margin: 5px;
        margin-left: 75px;
        font-size: 20px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 7px dashed rgb(14, 125, 189);
        border-radius: 10px;
        margin: 20px
    }

    .numbers {
        display: flex;
        align-content: center;
        justify-content: center;
        text-align: center;
        font-size: 40px;
    }
    
    .total {
        display: flex;
        align-content: center;
        justify-content: center;
        text-align: center;
    }


    
}

@media only screen and (min-width: 1400px) {
   
    h1 {

        padding: 30px;
        font-size: 140px;
        
    }
    #myForm {
        display: flex;
        align-items: center;
        margin:5px;
    }

    img {
        width: 150px;
        height: 150px;
    }
    #goombaHeader {
        margin: 5px;

    }
    #bobHeader {
        margin: 5px;
    }
    #cheepHeader {
        margin: 5px;
    }
    
    #goombaPrice {
        margin: 50px;
    }


    button {
        width: 200px;
        font-size:50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right:150px;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: black;


    }

    #clearButton {
        width: 300px;
        font-size: 50px;
        margin: 5px;
        margin-left: 150px;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: black;
        
       
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 7px dashed rgb(14, 125, 189);
        border-radius: 10px;
        margin: 20px
    }
    

}


